.sales-card {
  width: 50%;
  background: #1e2635;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #2b3242;
  color: #dce3f1;

  h3 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
  }

  .chart-wrapper {
    width: 100%;
    height: 260px;
  }
}
@media (max-width: 600px) {
  .sales-card {
    padding: 15px;

    h3 {
      font-size: 14px;
    }

    .chart-wrapper {
      height: 200px;
    }
  }
}
